// United 3.3.5
// Bootswatch
// -----------------------------------------------------

@web-font-path: "https://fonts.googleapis.com/css?family=Ubuntu:400,700";

.web-font(@path) {
  @import url("@{path}");
}
.web-font(@web-font-path);

// Navbar =====================================================================

.navbar {

  &-default {

    .badge {
      background-color: #fff;
      color: @navbar-default-bg;
    }
  }

  &-inverse {

    .badge {
      background-color: #fff;
      color: @navbar-inverse-bg;
    }
  }
}

@media (max-width: @grid-float-breakpoint-max) {

  .navbar {

    .dropdown-menu {
      a {
        color: #fff;
      }
    }
  }
}


// Buttons ====================================================================

// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

.progress {
  position: relative;
  background-color: @brand-success;
  padding: 13px;
  padding-left: 50px;
  height: 35px;

  &:before{
    position: absolute;
    z-index: 0;
    display: block;
    content: " ";
    width: calc(100% - 60px);
    height: 9px;
    border-radius: 2px;
    background-color: darken(@brand-success, 10%);
  }

  .box-shadow(none);
  .progress-bar {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    font-size: 10px;
    line-height: 10px;
  }

  span{
    background-color: darken(@brand-success, 10%);
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: calc(100% - 10px);
    padding: 7px;
    text-align: center;
    line-height: 1em;
    color: #fff;
    border-radius: 2px;
    font-size: 14px;
  }
}

// Containers =================================================================